.calculador {
    width: 100%;
    .calculador__h3 {
        font-family: $fontTitulo;
        text-shadow: 1px 1px 2px black;
        margin: 10px 20px;
        font-size: 36px;
        @media (max-width: 555px) {
            margin-left: 10px;
            margin-bottom: 5px;
            font-size: 30px;
        }
        @media (max-width: 420px) {
            margin-left: 5px;
            font-size: 27px;
        }
        @media (max-width: 385px) {
            font-size: 22px;
        }
    }
    .calculador__div {
        background-color: #ffffff;
        opacity: 0.8;
        background-size: 20px 20px;
        background-image:  repeating-linear-gradient(to right, #05F2C7, #05F2C7 1px, #ffffff 1px, #ffffff);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height: max-content;
        overflow: hidden;
        border: solid 2px;
        padding: 30px;
        @media (max-width: 555px) {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .calculador__form {
            display: grid;
            gap: 1.5em;
            .calculador__opciones {
                padding: .6em .3em;
                width: 16em;
                .calculador__select {
                    width: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    font-size: 13px;
                    font-family: $fontTexto;
                    font-size: 15px;
                    padding: .8em .5em;
                    border-radius: 5px;
                    border: 1px solid #000;
                    &:hover {
                        border: 1.5px solid $verdeAgua;
                    }
                }
            }
            .div-boton {
                width: 16em;
                .boton-dos {
                    display: block;
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 8px;
                    border-radius: 5px;
                    @include boton($verdeAgua);
                    @media (max-width: 555px) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .calculador__iframe {
            width: 25rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @media (max-width: 760px) {
                margin-left: 20px;
                width: 100%;
            }
            @media (max-width: 555px) {
                margin-right: 60px;
                padding-right: 40px;
            }
            @media (max-width: 450px) {
                height: 15rem;
            }
        }
    }
}




