.carousel {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    .carousel-item {
    height: auto;
    padding: 10px;
    @media (max-width: 782px){
        height: auto;
    }
}
}