@mixin boton ($background) {
    background-color: $background;
    color: #000;
    font-family: $fontTexto;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover {
        color: #fff;
    }
}

@mixin rrss {
    font-size: 48px;
    padding: 3px;
    @media (max-width:670px) {
                padding-top: 5px;
                margin: -10px;
                font-size: 38px;
            }
    @media (max-width:355px) {
                margin: -10px;
                font-size: 28px;
            }
}