.navbar {
    background-color: $naranja !important;
    margin-bottom: 15px;
    font-family: $fontTexto;
    > div > div > ul > li > ul, li { 
        background-color: $naranja;
    }
    > div > div > form > button {
        background-color: #fbfffe;
        border: #fbfffe;
        color: #000000;
    }
}
