.navbar {
    background-color: #FF8F29 !important;
    margin-bottom: 15px;
}
.dropdown-item, .dropdown-menu {
    background-color: #FF8F29;
}
.btn {
    background-color: #fbfffe;
    border: #fbfffe;
    color: #000000;
}
