.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card {
        margin-top: 15px;
        margin-bottom: 15px;
        transition: .5s;
        &:hover {
            transform: scale(105%);
            }
        .card-img-top {
        height: 500px;
        width: 100%;
        }
        .card-body {
        padding: 10px;
            >a {
                border: none;
                background-color: transparent;
                color: rgb(18, 17, 17);
                opacity: 1;
                &:hover{
                    font-weight: 545;
                }
            }
        }
    }
}