.titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $fontFam;
    .titulo__h2 {
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
        font-size: 60px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .titulo__p {
        margin: 2px 20% 50px 20%;
        padding-top: 5px;
        font-size: 18px;
        text-align: center;
    }
}
.subtitulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $fontFam;
    .subtitulo__p {
        margin: 30px 30% 4px 30%;
        font-size: 18px;
        text-align: center;
    }
    .subtitulo__wsp {
        font-size: 55px;
        align-self: center;
        .wsp {
            color: #25D366;
        }
    }
}
.titulo-sobrenos{
    @extend .titulo__h2
}
