.titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    .titulo__h2 {
        font-family: $fontTitulo;
        text-shadow: 1px 1px 2px black;
        font-size: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width:600px) {
            margin-bottom: -9px;
        }
    }
    .titulo__p {
        font-family: $fontTexto;
        margin: 6px 18%;
        padding-bottom: 15px;
        font-size: 17px;
        text-align: center;
    }
}
.subtitulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $fontTexto;
    .subtitulo__p {
        margin: 30px 20% 4px 20%;
        font-size: 17px;
        text-align: center;
    }
    .subtitulo__wsp {
        font-size: 55px;
        align-self: center;
        .wsp {
            color: #25D366;
        }
    }
}
.titulo-sobrenos{
    @extend .titulo__h2
}
