$naranja: #FF8F29;
$verdeAgua: #05F2C7;
$verdeAguaClaro: #DCF8F1;
$verdeAguaOsc: #0bceab;
$fontFam: Arial, Helvetica, sans-serif;
$fontTitulo: 'Montserrat', sans-serif;
$fontTexto: 'Montserrat', sans-serif;

